<div>
    <%= form_tag wiki_search_path, class: "mb-3" do %>
        <%= text_field_tag("search_word", "", placeholder: "検索したい単語を入力", maxlength: 100)%>
        <%= button_tag type: 'submit' do %>
          検索 <i class="fas fa-search"></i>
        <% end %>
    <% end %>
</div>